.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/

Package.resolved
Package.resolved
.build/
project.xcworkspace
xcuserdata
.DS_Store
.swiftpm
Package.resolved
.build/
project.xcworkspace
xcuserdata
.DS_Store
.swiftpm
